.Main {
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 193, 224);
    height: 100vh;
    display: flex;
  }

.Card-Image {
  width: 100%;
  height: 60%;
}

.CardFactors {
  width: 18rem;
}